name: Verify PR - Checking Code Typescript
on: [pull_request]

jobs:
  formatting:
    name: Checking Code Typescript
    runs-on: ubuntu-latest
    env:
      NPM_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}
      NODE_OPTIONS: '--max-old-space-size=4096'

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          clean: true

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: 'package.json'
          cache: 'yarn'

      - name: Install Node Modules
        run: yarn install --immutable
        env:
          NPM_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}

      - name: Check Typescript
        run: yarn typescript
