name: Verify PR - Code Formatting
on: [pull_request]

jobs:
  formatting:
    name: Code Formatting (Prettier)
    runs-on: ubuntu-latest
    env:
      NPM_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: 'package.json'
          cache: 'yarn'

      - name: Install Node Modules
        run: yarn install --immutable
        env:
          NPM_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}

      - name: Check Formatting
        run: yarn formatting
