name: Verify PR - Checking Code Typescript
on: [pull_request]

jobs:
  typescript:
    name: Checking Code Typescript
    runs-on: ubuntu-latest
    env:
      NPM_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}
      NODE_OPTIONS: '--max-old-space-size=4096'

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          clean: true

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.0

      - name: Install Dependencies
        run: bun install --frozen-lockfile
        env:
          NPM_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}

      - name: Check Typescript
        run: bun run typescript
